<img
  src="/assets/svg/logo-smal.svg"
  alt=""
  class="ml-16 mb-20">

<nav class="mb-20">
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <a
        class="menu-item"
        [routerLink]="[menuItem.link]"
        routerLinkActive="active"
      >
          <svg [icon]="menuItem.icon"></svg>
          <span>{{ menuItem.label }}</span>
        </a>
    </li>
  </ul>
</nav>

<p class="medium-text mb-20">Подписчики</p>


@for (profile of (subscribers$ | async) | slice : 0 : 3; track $index) {
  <app-subscribe-card [profile]="profile"></app-subscribe-card>
}


<div class="mt-20 to-subscribers">
  <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link medium-text"
  >Все подписчики</a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>


<footer class="sidebar__footer">

  @if (me(); as profile) {
    <img
      [src]="profile.avatarUrl || '/assets/imgs/img.jpg'"
      alt="avatar" class="footer-img"
    >

   <div class="medium-text username-text">{{profile.username}}</div>


    <img src="/assets/svg/settings.svg" alt="" class="settings-btn">

<!--    <a [routerLink]=["/settings"] class="settings-btn">-->
<!--     -->
<!--    </a>-->
  }
</footer>
