@import "margins";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
  --dark-hover-color: #161616;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  height: 100dvh;
  background: var(--dark-color);
  color: var(--light-color);
  background-image: url("../public/assets/imgs/background-img.png");
}


.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
}


.btn {
  width: 50%;
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
  }
}


.h1 {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 54px;
  font-weight: 800;
}

.h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;

}


.medium-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.regular {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weigth: 800;
}


.subtitle {
  font-size: 14px;
  line-height: 20px;
}


.tt-control-label {

  margin-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: block;
}


.tt-input {
  margin-top: 8px;
  margin-bottom: 16px;
  width: 50%;
  margin-right: 100px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 26px;
  background: var(--dark-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-color);
}


.password-input {
  position: relative;

}

.password-eye-btn {
  position: absolute;
  top: 38%;
  right: 53%;
  //transform: translateY(-50);
  cursor: pointer;
  background: none;
  border: none;
  color: #FFFFFFBF;
}


.password-eye-btn.active {
  color: var(--primary-color);
}


.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.tt-form-input {
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

  border: none;
  border-bottom: 1px solid var(--light-color);

  color: var(--light-color);
  height: 33px;
  background: none;
  //border-radius: 4px;


  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}


.tt-form-label__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}



.tt-textarea {
  height: 84px;
  resize: none;
}
